table {
    font-size : 13px;
}

/*th {*/
    /*background-color : #1260B3;*/
    /*color            : #ffab19;*/
/*}*/

th.sortable {
    background-position : right;
    background-repeat   : no-repeat;
    background-image    : url(../../images/skin/upDown.png);
    padding-right       : 1.1em;
}

th.asc {
    background-image : url(../../images/skin/up.png);
}

th.desc {
    background-image : url(../../images/skin/down.png);
}

th a {
    /*color : #ffab19;*/
    color : #72cb8e;
}

th a:hover, th a:focus {
    /*color : #ffc766;*/
    color : #72cb8e;
}

tr.trHighlight, tr.trHighlight td, td.trHighlight, .trHighlight {
    color      : #444444;
    /*background : #ffc766 !important;*/
    background : #72cb8e !important;
}

.table > thead > tr > td.amarillo,
.table > tbody > tr > td.amarillo,
.table > tfoot > tr > td.amarillo,
.table > thead > tr > th.amarillo,
.table > tbody > tr > th.amarillo,
.table > tfoot > tr > th.amarillo,
.table > thead > tr.amarillo > td,
.table > tbody > tr.amarillo > td,
.table > tfoot > tr.amarillo > td,
.table > thead > tr.amarillo > th,
.table > tbody > tr.amarillo > th,
.table > tfoot > tr.amarillo > th {
    background-color: #f5f45c;
}
.table-hover > tbody > tr > td.amarillo:hover,
.table-hover > tbody > tr > th.amarillo:hover,
.table-hover > tbody > tr.amarillo:hover > td,
.table-hover > tbody > tr:hover > .amarillo,
.table-hover > tbody > tr.amarillo:hover > th {
    background-color: #dfde57;
}

.table > thead > tr > td.rojo,
.table > tbody > tr > td.rojo,
.table > tfoot > tr > td.rojo,
.table > thead > tr > th.rojo,
.table > tbody > tr > th.rojo,
.table > tfoot > tr > th.rojo,
.table > thead > tr.rojo > td,
.table > tbody > tr.rojo > td,
.table > tfoot > tr.rojo > td,
.table > thead > tr.rojo > th,
.table > tbody > tr.rojo > th,
.table > tfoot > tr.rojo > th {
    background-color: #f59196;
}
.table-hover > tbody > tr > td.rojo:hover,
.table-hover > tbody > tr > th.rojo:hover,
.table-hover > tbody > tr.rojo:hover > td,
.table-hover > tbody > tr:hover > .rojo,
.table-hover > tbody > tr.rojo:hover > th {
    background-color: #d1787d;
}

.table > thead > tr > td.verde,
.table > tbody > tr > td.verde,
.table > tfoot > tr > td.verde,
.table > thead > tr > th.verde,
.table > tbody > tr > th.verde,
.table > tfoot > tr > th.verde,
.table > thead > tr.verde > td,
.table > tbody > tr.verde > td,
.table > tfoot > tr.verde > td,
.table > thead > tr.verde > th,
.table > tbody > tr.verde > th,
.table > tfoot > tr.verde > th {
    background-color: #94f571;
}
.table-hover > tbody > tr > td.verde:hover,
.table-hover > tbody > tr > th.verde:hover,
.table-hover > tbody > tr.verde:hover > td,
.table-hover > tbody > tr:hover > .verde,
.table-hover > tbody > tr.verde:hover > th {
    background-color: #7bd468;
}